@import "./base.css";

#app {
  font-weight: normal;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}


/* Feather icon styling */
.weathericon {
  width: 18px;
  height: 18px;
  display: block;
  float: right;
}

/* Leaflet styling */
.leaflet-popup-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15em;
}

.popupheader {
  text-align: center;
  font-size: 1.2em;
  height: 1.22em;
}

/* Dynamic CSS */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 0.6fr 2.4fr;
    grid-template-rows: 0.12fr 1.88fr;
  }
}